body {
  background-color: #d32f2f;
}
* {
  font-family: 'Exo', sans-serif;
}
#wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
  position: relative;
}
#choose-player-box {
  display: none;
  position: absolute;
  top: -100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #fff;
  width: 310px;
  padding-top: 0.9rem;
  text-align: center;
  color: #808080;
}
#choose-player-box div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
#choose-player-box div button {
  border: none;
  padding: 0.4rem 0.9rem;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
  transition-duration: 0.3s;
  width: 50%;
}
#choose-player-box div button:hover {
  background-color: rgba(211,47,47,0.8);
  color: #fff;
}
.show-choose-player-box {
  display: block !important;
  -webkit-animation-name: show-choose-player-box;
          animation-name: show-choose-player-box;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.hide-choose-player-box {
  -webkit-animation-name: hide-choose-player-box;
          animation-name: hide-choose-player-box;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.table {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  padding: 2px;
  width: 310px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.table .table-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
}
.table .table-row .table-field {
  font-size: 1.8rem;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  min-width: 100px;
  min-height: 100px;
  background: #e57373;
  display: inline-block;
  padding-top: 30px;
  margin: 2px;
}
@-webkit-keyframes show-choose-player-box {
  100% {
    -webkit-transform: translateX(-50%) translateY(100%);
            transform: translateX(-50%) translateY(100%);
  }
}
@keyframes show-choose-player-box {
  100% {
    -webkit-transform: translateX(-50%) translateY(100%);
            transform: translateX(-50%) translateY(100%);
  }
}
@-webkit-keyframes hide-choose-player-box {
  100% {
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    opacity: 0.1;
  }
}
@keyframes hide-choose-player-box {
  100% {
    -webkit-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
    opacity: 0.1;
  }
}
