body {
  background-color: #d32f2f;
}
* {
  font-family: 'Exo', sans-serif;
}
#wrapper {
  width: 900px;
  max-width: 90%;
  margin: 0 auto;
}
.table {
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
  padding: 2px;
  width: 310px;
  margin: 0 auto;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.table .table-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  box-sizing: border-box;
}
.table .table-row .table-field {
  font-size: 1.8rem;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  text-align: center;
  min-width: 100px;
  min-height: 100px;
  background: #e57373;
  display: inline-block;
  padding-top: 30px;
  margin: 2px;
}
