// ----------------- Varriables ------------------//
field-size = 100px
table-size = ( 3 * field-size + 10px)



// ----------------- Colors ---------------------//
red1 = #d32f2f 
red2 = #e53935 
red3 = #e57373 


//----------------- Global Styles ---------------//

body
	background-color red1

*
	font-family: 'Exo', sans-serif;
	
#wrapper
	width 900px
	max-width 90%
	margin 0 auto
	position relative
	

::selection
	background-color red3
	color #fff

//----------------- Table Styles ---------------//
#choose-player-box
	z-index 90
	display none
	position absolute
	top -100px
	left 50%
	transform translateX(-50%)
	background-color #fff
	width table-size
	padding-top .9rem
	text-align center
	color gray
	div
		display flex
		justify-content space-around
		button
			border none
			padding .4rem 0.9rem
			font-size 1.5rem
			background none
			cursor pointer
			transition-duration .3s
			width 50%
			&:hover
				background-color rgba(red1, .8)
				color #fff
.show-choose-player-box
	display block !important
	animation-name show-choose-player-box
	animation-duration .5s
	animation-fill-mode forwards
	
@keyframes show-choose-player-box {
	0% { } 
	100%{
		transform translateX(-50%) translateY(100%)
	}
}
	
.hide-choose-player-box
	animation-name hide-choose-player-box
	animation-duration .5s
	animation-fill-mode forwards

@keyframes hide-choose-player-box {
	0% { } 
	100%{
		transform translateX(-50%) translateY(-100%)
		opacity 0.1
	}
}

#winner-box
	display none
	color red3
	background-color #fff
	width table-size
	box-sizing border-box
	text-align center
	z-index 100
	position fixed
	top 50%
	left 50%
	transform translateY(-50%) translateX(-50%)
	button
		border none
		padding .6rem 0.4rem
		font-size 1.2rem
		background none
		cursor pointer
		transition-duration .3s
		width 100%
		&:hover 
			background-color red3
			color #fff
			
.show-winner-box
	display block !important
	animation-name show-winner-box
	animation-duration 1s
	
@keyframes show-winner-box {
	0% { 
		opacity 0
		transform translateX(-150%) translateY(-50%)
	}
	
	100% {
		transform translateX(-50%) translateY(-50%)
		opacity 1
	}
}

.hide-winner-box
	animation-name hide-winner-box
	animation-duration 1s
	animation-fill-mode forwards
	
@keyframes hide-winner-box {
	0% { 
	}
	
	100% {
		transform translateX(100%) translateY(-50%)
		opacity 0
	}
}
	
//----------------- Table Styles ---------------//
.table 
	z-index 50
	transform translateY(50%)
	padding 2px
	width table-size
	margin 0 auto
	display flex
	flex-direction column
	flex-wrap wrap
	.table-row
		display flex
		justify-content center
		flex-direction row
		box-sizing border-box	
		.table-field
			font-size 1.8rem
			cursor pointer
			box-sizing border-box
			position relative
			text-align center
			min-width field-size
			min-height field-size
			background red3
			display inline-block
			padding-top 30px
			margin 2px
