// ----------------- Varriables ------------------//
field-size = 100px



// ----------------- Colors ---------------------//
red1 = #d32f2f 
red2 = #e53935 
red3 = #e57373 


//----------------- Global Styles ---------------//

body
	background-color red1

*
	font-family: 'Exo', sans-serif;
	
#wrapper
	width 900px
	max-width 90%
	margin 0 auto
	
//----------------- Table Styles ---------------//
.table 
	transform translateY(50%)
	padding 2px
	width ( 3 * field-size + 10px)
	margin 0 auto
	display flex
	flex-direction row
	flex-wrap wrap
	.table-row
		margin 0 auto
		.table-field
			box-sizing border-box
			position relative
			text-align center
			width field-size
			height field-size
			background red3
			display inline-block
			padding-top 30px
	